html {
    height: 100%;
}

body {
    height: 100%;
    background: url(img/BG_img.jpg) no-repeat fixed;
    background-size: cover;
}

header {
    float: left;
    color: white;
    width: 96%;
    height: 12%;
    background: none;
    padding: 1%;
    margin: 1%;
}

aside {
    float: left;
    font: normal 20px verdana, sans-serif;
    text-align: justify;
    width: 96%;
    background-color: none;
    padding: 1%;
    margin: 1%;
}

footer {
    float: left;
    font: oblique normal bold 15px verdana, sans-serif;
    color: white;
    width: 96%;
    height: 12%;
    background: gray;
    padding: 1%;
    margin: 1%;
}

.FillerShop {
    height: 100%;
    width: 20%;
    float: left;
    padding: 1%;
    margin: 1%;
}

.HeadBar {
    height: 100%;
    width: 15%;
    float: left;
    padding: 1%;
    margin: 1%;
}

.Cont {
    font: oblique normal bold 25px verdana, sans-serif;
    text-align: left;
    width: 20%;
    float: left;
    padding: 1%;
    margin: 1%;
}

.FBar {
    width: 34%;
    float: left;
    padding: 1%;
    margin: 1%;
}

h1 {
    color: whitesmoke;
}

p,
ul,
h3 {
    color: rgb(147, 28, 184);
}

.icon_head {
    width: 98%;
    height: 70%;
    border: 0;
}

.cont_img {
    height: 30%;
    width: 45%;
    border: 0;
}

.img_footer {
    width: 8%;
    height: 8%;
    border: 0;
}

.txt {
    color: black;
    float: left;
    text-align: left;
    width: 98%;
    margin: 1%;
    padding: 1%;
    font: oblique normal 15px verdana, sans-serif;
}

.column {
    width: 16%;
    float: left;
    margin: 1%;
    padding: 1%;
    background-color: white;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.box {
    width: 29%;
    float: left;
    margin: 1%;
    padding: 1%;
    background-color: white;
}
